.wrFooter {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    font-family: 'Handlee';
    letter-spacing: 1px;
    background-color: rgba(250,235,215,.5 );
    color: #A48B8B;
    padding-bottom: 5px;
}

.container {
    max-width: 1200px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.container h3 {
    margin-bottom: 30px;
}

.nets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    margin-bottom: 20px;

}

.net {
    padding: 5px 10px;
}
.social:hover {
    color: rgba(243, 129, 129, 0.7);
}

.net:not(:last-child) {
    border-right: 1px dotted #A48B8B;
}

@media screen and (max-width: 414px) {
    .nets {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .net:not(:last-child) {
        border-right: none;
    }
}