.wrContacts {
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    padding-top: 50px;
    font-family: 'Muli';
    letter-spacing: 1px;
    /*background-image: linear-gradient(360deg, rgba(243, 129, 129, 0.5) 0%,rgba(250,235,215,.7 )100%), url(./im.jpg);*/
    color: #715858;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
    background-color: #F5DEB3;
}
.particles{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.container {
    max-width: 1200px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}


.container h1::after {
    content: ' ';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #715858;
    margin: 30px auto 20px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    width: 400px;
    border-radius: 30px;
    border: 2px dotted #A48B8B;
    padding: 5px 10px;
    margin-bottom: 5px;
    outline: none;
}
textarea {
    resize: none;
    border-radius: 30px;
    border: 2px dotted #A48B8B;
    width: 400px;
    height: 200px;
    padding: 10px 10px;
    margin-bottom: 10px;
    outline: none;
}

::-webkit-input-placeholder {
    font-family: 'Muli';
    color: #A48B8B;
}

.submit {
    width: 100px;
    cursor: pointer;
    border-radius: 30px;
    border: 2px dotted #A48B8B;
    padding: 5px 10px;
    background-color: antiquewhite;
    color: rgba(113,88,88, 0.8);
    font-size: 13px;
    font-family: 'Muli';
    font-weight: bolder;
    transition: 3s;
}

.submit:hover {
    background-image: linear-gradient(360deg, rgba(250, 235, 215, 0.5) 0%, rgba(222,184,135, 1) 100%);
}

@media screen and (max-width: 414px) {
    textarea {
        max-width: 200px;
        height: 150px;
    }

    input {
        max-width: 200px;
        border-radius: 30px;
        border: 2px dotted #A48B8B;
        padding: 5px 10px;
        margin-bottom: 5px;
        outline: none;
    }
}