
.header {
    border-bottom: 1px solid rgba(113,88,88, 0.3);
    padding-bottom: 5px;
    /*position: sticky;*/
    /*top: 0;*/
}
/*.headerFixed {*/
/*    position: fixed;*/
/*    background-color: #95e1d3;*/
/*    z-index: 100;*/
/*    width: 100%;*/
/*    padding-bottom: 20px;*/
/*    font-weight: bolder;*/
/*    -webkit-transition: .4s;*/
/*    -o-transition: .4s;*/
/*    transition: .4s;*/
/*}*/
header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 10px;

}
.container {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.logo {
    width: 60px;
    margin-top: 10px;
    display: block;
}

header ul {
    display: flex;
    height: 100%;
    margin-right: 50px;
}

.containerNav {
    display: flex;
    height: 100%;
    align-items: center;
    margin-top: 10px;
}

header nav a {
    color: #715858;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 1px;
    transition: .2s;
}
header nav a:hover {
    color: #2A2121;
    text-shadow: 1px 1px 2px #2A2121, 0 0 1em red;
}

header nav li {
    margin-left: 55px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

header nav {
    height: 100%;
}

@media screen and (max-width: 414px) {
    /*header nav {*/
    /*    font-size: 8px;*/
    /*}*/

    /*header nav li {*/
    /*    margin-left: 10px;*/

    /*}*/

    .containerNav {
        display: none;
    }

}

@media screen and (min-width: 640px) and (max-width: 730px) {
    header .container {
        padding: 0;

    }
}

@media screen and (min-height: 320px) and (max-height: 330px) {
    .containerNav {
        display: none;
    }
}
