.wrPreview {
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    width: 100%;
    height: 100vh;
    /*font-family: 'Handlee';*/
    /*!*background-color: antiquewhite;*!*/
    /*background-image: linear-gradient(360deg, rgba(243, 129, 129, 0.5) 0%,rgba(250,235,215,.7 )100%), url(./im.jpg);*/
    position: relative;
    background-color: #F5DEB3;
    /*padding: 0px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
    box-sizing: border-box;
}

.particles{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*z-index: -1;*/
    opacity: 0.5;
}

