.wrWorks {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    font-family: cursive;
    background-color: antiquewhite;
    color: #A48B8B;
    padding-bottom: 70px;
}

.container {
    max-width: 1200px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}


.wrWorks h1 {
    font-family: cursive;
    position: relative;
    text-align: center;
}

.wrWorks h1::after {
    content: ' ';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #929292;
    margin: 30px auto 20px;
    position: relative;
}

.works {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.work {
    font-size: 18px;
    position: relative;
}

.item {
    background-image: linear-gradient(360deg, rgba(250, 235, 215, 0.4) 0%, rgba(243, 129, 129, 0.9) 100%);
}



.work:hover .item img {
    opacity: .1;
}

.work:hover .item::before {
    content: 'MORE';
    display: block;
    position: absolute;
    top: 240px;
    color: #fff;
    font-weight: bolder;
}


.work:hover .item::after {
    content: 'Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor';
    display: block;
    position: absolute;
    color: #A48B8B;
    max-width: 60%;
    text-align: center;
    top: 170px;

}
