body {
    overflow-x: hidden;
    font-family: 'Handlee';

}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    /*font-family: cursive;*/
    font-family: 'Handlee';
    background-color: #fff;
}
