body {
    overflow-x: hidden;
    font-family: 'Muli';

}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    /*font-family: cursive;*/
    font-family: 'Muli';
    background-color: #fff;
}

/*.portfolio {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/


